[Desktop Entry]
Type=Application
Name=Rednukem
GenericName=Port of serveral BUILD Engine games based on EDuke32
Icon=/usr/share/pixmaps/rednukem.ico
Exec=rednukem %F
Terminal=false
Categories=Game;ActionGame;
