[Desktop Entry]
Type=Application
Name=Rednukem
GenericName=Port of serveral BUILD Engine games based on EDuke32
Icon=rednukem
Exec=rednukem %F
Terminal=false
Categories=Game;ActionGame;
